# Turn on rewrite engine
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
</IfModule>

# BEGIN timestamp versioning
<IfModule mod_rewrite.c>
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.+?)\.timestamp-\d+\.(\w+)$ $1.$2 [L]
</IfModule>
# END timestamp versioning

# BEGIN GZIP
# Force content type for known extensions
<FilesMatch "\.css\.(gz|min)$">
    ForceType text/css
</FilesMatch>
<FilesMatch "\.html?\.gz$">
    ForceType text/html
</FilesMatch>
<FilesMatch "\.ico\.gz$">
    ForceType image/x-icon
</FilesMatch>
<FilesMatch "\.js\.(gz|min)$">
    ForceType application/javascript
</FilesMatch>
<FilesMatch "\.json\.gz$">
    ForceType application/json
</FilesMatch>
<FilesMatch "\.svg\.gz$">
    ForceType image/svg+xml
</FilesMatch>
<FilesMatch "\.txt\.gz$">
    ForceType text/plain
</FilesMatch>
<FilesMatch "\.xml\.gz$">
    ForceType application/xml
</FilesMatch>

# Set 'Vary' response header for .gz files and files that can be compressed
<FilesMatch "\.(gz|min|css|html?|ico|js|json|svg|txt|xml)$">
    <IfModule mod_headers.c>
        Header always append Vary "Accept-Encoding"
    </IfModule>
</FilesMatch>

# Set encoding for .gz files
<IfModule mod_mime.c>
    # http://httpd.apache.org/docs/2.2/mod/mod_mime.html#addencoding:
    # "To make this long story short, you should always use x-gzip and x-compress
    # for these two specific encodings"
    AddEncoding x-gzip .gz
</IfModule>

<IfModule mod_rewrite.c>
    ## If the user agent accepts gzip encoding...
    #RewriteCond %{HTTP:Accept-Encoding} gzip
    ## ...and if gzip-encoded version of the requested file exists (<file>.gz)...
    #RewriteCond %{REQUEST_FILENAME}.gz -f
    ## ...then serve the gzip-encoded file. Done.
    #RewriteRule ^(.+)$ $1.gz [L]
    # Or if the user agent accepts gzip encoding...
    RewriteCond %{HTTP:Accept-Encoding} gzip
    # ...and the requested file exists...
    RewriteCond %{REQUEST_FILENAME} -f
    # ...then use a PHP script to serve a compressed version. Done.
    RewriteRule \.(css|html?|ico|js|json|svg|txt|xml)$ /gz.php [L]
    # Or if a minified version of the requested file exists (<file>.min)...
    RewriteCond %{REQUEST_FILENAME}.min -f
    # ...then serve the minified file. Done.
    RewriteRule ^(.+)$ $1.min [L]
    # Or if the requested file exists...
    RewriteCond %{REQUEST_FILENAME} -f
    # ...then use a PHP script serve a minified version. Done.
    RewriteRule \.(css|js)$ /gz.php [L]
</IfModule>
# END GZIP
